.wa_style_ivso9nt94ljvxk
{
	font-size: 30px;
	color: #333333;
	line-height: 42px;
}

.wa_style_ivso9nt94ljvew
{
	font-size: 20px;
	color: #333333;
	line-height: 28px;
}

.wa_style_ivso9nt94ljp6w
{
	font-size: 14px;
	color: #333333;
}

