#wa-comptext-koi7ybt73dqgbk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-koi985fv4tn5o8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kor488ox63tumw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kor488ox63tumw>.row>.clearfix {margin-bottom:0px;}
#wa-container-kor488ox63tumw>.wa-container-vspacer {height:0px;}
#wa-container-kor488oz63tw6g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kor488oz63tw6g>.row>.clearfix {margin-bottom:0px;}
#wa-container-kor488oz63tw6g>.wa-container-vspacer {height:0px;}
#wa-container-kor488p163tq08 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kor488p163tq08>.row>.clearfix {margin-bottom:0px;}
#wa-container-kor488p163tq08>.wa-container-vspacer {height:0px;}
#wa-container-kor488p363togo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kor488p363togo>.row>.clearfix {margin-bottom:0px;}
#wa-container-kor488p363togo>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-kor488ox63tumw {background-color:#ffffff;}
#wa-container-wrapper-kor488oz63tw6g {background-color:#c71b1b;}
#wa-row-koi7t6l2613qg0 {margin:0px 0px;}
#wa-row-koi7t6l2613qg0>div {padding: 0px 0px;}
#wa-row-koi7ybt765x214 {margin:0px 0px;}
#wa-row-koi7ybt765x214>div {padding: 0px 0px;}
#wa-row-koi7ybt765x2h4 {margin:0px 0px;}
#wa-row-koi7ybt765x2h4>div {padding: 0px 0px;}
#wa-row-koi7ybt765x494 {margin:0px 0px;}
#wa-row-koi7ybt765x494>div {padding: 0px 0px;}
#wa-row-koid4rzq3dac9s {margin:0px 0px;}
#wa-row-koid4rzq3dac9s>div {padding: 0px 0px;}
#wa-row-koidh7t24z72mw {margin:0px 0px;}
#wa-row-koidh7t24z72mw>div {padding: 0px 0px;}
#wa-sub-container-kor488ox63tnow {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kor488ox63tnow>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kor488ox63tnow>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-kor48g0461jorc] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kor48g0461jorc] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kor48g0461jorc] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-kor48g0461jorc] .navbar-default {background-color:#f8f8f8; border-color:#f7f7f7; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-brand, [id^=wa-compmenu-kor48g0461jorc].navbar-nav li a, [id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:14px; color:#777777;}
[id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#333333;}
[id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-nav > .open > a:focus {color:#777777; background-color:#e7e7e7;}
[id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-kor48g0461jorc] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kor48g0461jorc].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-koi7t6l2613qg0 {margin:0px 0px;}
#wa-row-koi7t6l2613qg0>div {padding: 0px 0px;}
#wa-row-koi7ybt765x214 {margin:0px 0px;}
#wa-row-koi7ybt765x214>div {padding: 0px 0px;}
#wa-row-koi7ybt765x2h4 {margin:0px 0px;}
#wa-row-koi7ybt765x2h4>div {padding: 0px 0px;}
#wa-row-koi7ybt765x494 {margin:0px 0px;}
#wa-row-koi7ybt765x494>div {padding: 0px 0px;}
#wa-row-koid4rzq3dac9s {margin:0px 0px;}
#wa-row-koid4rzq3dac9s>div {padding: 0px 0px;}
#wa-row-koidh7t24z72mw {margin:0px 0px;}
#wa-row-koidh7t24z72mw>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-koi7t6l2613qg0 {margin:0px 0px;}
#wa-row-koi7t6l2613qg0>div {padding: 0px 0px;}
#wa-row-koi7ybt765x214 {margin:0px 0px;}
#wa-row-koi7ybt765x214>div {padding: 0px 0px;}
#wa-row-koi7ybt765x2h4 {margin:0px 0px;}
#wa-row-koi7ybt765x2h4>div {padding: 0px 0px;}
#wa-row-koi7ybt765x494 {margin:0px 0px;}
#wa-row-koi7ybt765x494>div {padding: 0px 0px;}
#wa-row-koid4rzq3dac9s {margin:0px 0px;}
#wa-row-koid4rzq3dac9s>div {padding: 0px 0px;}
#wa-row-koidh7t24z72mw {margin:0px 0px;}
#wa-row-koidh7t24z72mw>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-koi7t6l2613qg0 {margin:0px 0px;}
#wa-row-koi7t6l2613qg0>div {padding: 0px 0px;}
#wa-row-koi7ybt765x214 {margin:0px 0px;}
#wa-row-koi7ybt765x214>div {padding: 0px 0px;}
#wa-row-koi7ybt765x2h4 {margin:0px 0px;}
#wa-row-koi7ybt765x2h4>div {padding: 0px 0px;}
#wa-row-koi7ybt765x494 {margin:0px 0px;}
#wa-row-koi7ybt765x494>div {padding: 0px 0px;}
#wa-row-koid4rzq3dac9s {margin:0px 0px;}
#wa-row-koid4rzq3dac9s>div {padding: 0px 0px;}
#wa-row-koidh7t24z72mw {margin:0px 0px;}
#wa-row-koidh7t24z72mw>div {padding: 0px 0px;}
}
