#wa-comptext-korlqzwf54pa8w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-korlsyxw4xejjc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kotypqqx505868 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kotypqqx505868>.row>.clearfix {margin-bottom:0px;}
#wa-container-kotypqqx505868>.wa-container-vspacer {height:0px;}
#wa-container-kotypqqy505534 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kotypqqy505534>.row>.clearfix {margin-bottom:0px;}
#wa-container-kotypqqy505534>.wa-container-vspacer {height:0px;}
#wa-container-kotypqqz5053jk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kotypqqz5053jk>.row>.clearfix {margin-bottom:0px;}
#wa-container-kotypqqz5053jk>.wa-container-vspacer {height:0px;}
#wa-container-kotypqr0505ahk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kotypqr0505ahk>.row>.clearfix {margin-bottom:0px;}
#wa-container-kotypqr0505ahk>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-kotypqqx505868 {background-color:#ffffff;}
#wa-container-wrapper-kotypqqy505534 {background-color:#c71b1b;}
#wa-row-korlqzwf6b7vco {margin:0px 0px;}
#wa-row-korlqzwf6b7vco>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7vnc {margin:0px 0px;}
#wa-row-korlqzwf6b7vnc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7w3c {margin:0px 0px;}
#wa-row-korlqzwf6b7w3c>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7we0 {margin:0px 0px;}
#wa-row-korlqzwf6b7we0>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7wzc {margin:0px 0px;}
#wa-row-korlqzwf6b7wzc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7xa0 {margin:0px 0px;}
#wa-row-korlqzwf6b7xa0>div {padding: 0px 0px;}
#wa-sub-container-kotypqqx5059ps {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kotypqqx5059ps>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kotypqqx5059ps>.wa-container-vspacer {height:0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-korlqzwf6b7vco {margin:0px 0px;}
#wa-row-korlqzwf6b7vco>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7vnc {margin:0px 0px;}
#wa-row-korlqzwf6b7vnc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7w3c {margin:0px 0px;}
#wa-row-korlqzwf6b7w3c>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7we0 {margin:0px 0px;}
#wa-row-korlqzwf6b7we0>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7wzc {margin:0px 0px;}
#wa-row-korlqzwf6b7wzc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7xa0 {margin:0px 0px;}
#wa-row-korlqzwf6b7xa0>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-korlqzwf6b7vco {margin:0px 0px;}
#wa-row-korlqzwf6b7vco>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7vnc {margin:0px 0px;}
#wa-row-korlqzwf6b7vnc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7w3c {margin:0px 0px;}
#wa-row-korlqzwf6b7w3c>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7we0 {margin:0px 0px;}
#wa-row-korlqzwf6b7we0>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7wzc {margin:0px 0px;}
#wa-row-korlqzwf6b7wzc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7xa0 {margin:0px 0px;}
#wa-row-korlqzwf6b7xa0>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-korlqzwf6b7vco {margin:0px 0px;}
#wa-row-korlqzwf6b7vco>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7vnc {margin:0px 0px;}
#wa-row-korlqzwf6b7vnc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7w3c {margin:0px 0px;}
#wa-row-korlqzwf6b7w3c>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7we0 {margin:0px 0px;}
#wa-row-korlqzwf6b7we0>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7wzc {margin:0px 0px;}
#wa-row-korlqzwf6b7wzc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7xa0 {margin:0px 0px;}
#wa-row-korlqzwf6b7xa0>div {padding: 0px 0px;}
}
