#wa-comptext-kor2kk125y9tj4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kou9bu1n4xvwao {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kou9bu1n4xvwao>.row>.clearfix {margin-bottom:0px;}
#wa-container-kou9bu1n4xvwao>.wa-container-vspacer {height:0px;}
#wa-container-kou9bu1t4xvx2g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kou9bu1t4xvx2g>.row>.clearfix {margin-bottom:0px;}
#wa-container-kou9bu1t4xvx2g>.wa-container-vspacer {height:0px;}
#wa-container-kou9bu1x4xvxu8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kou9bu1x4xvxu8>.row>.clearfix {margin-bottom:0px;}
#wa-container-kou9bu1x4xvxu8>.wa-container-vspacer {height:0px;}
#wa-container-kou9c4m561ka5k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kou9c4m561ka5k>.row>.clearfix {margin-bottom:0px;}
#wa-container-kou9c4m561ka5k>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-kou9bu1n4xvwao {background-color:#ffffff;}
#wa-container-wrapper-kou9c4m561ka5k {background-color:#c71b1b;}
#wa-row-kor2kk115yke1k {margin:0px 0px;}
#wa-row-kor2kk115yke1k>div {padding: 0px 0px;}
#wa-row-kor2kk115ykgk8 {margin:0px 0px;}
#wa-row-kor2kk115ykgk8>div {padding: 0px 0px;}
#wa-row-kor2kk125yke6w {margin:0px 0px;}
#wa-row-kor2kk125yke6w>div {padding: 0px 0px;}
#wa-row-kor2kk125ykec8 {margin:0px 0px;}
#wa-row-kor2kk125ykec8>div {padding: 0px 0px;}
#wa-row-kor2kk125ykes8 {margin:0px 0px;}
#wa-row-kor2kk125ykes8>div {padding: 0px 0px;}
#wa-row-kou9bx4651af8o {margin:0px 0px;}
#wa-row-kou9bx4651af8o>div {padding: 0px 0px;}
#wa-sub-container-kou9bu1n4xvtzc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kou9bu1n4xvtzc>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kou9bu1n4xvtzc>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-kou9bx46668s68] .dropdown-menu {background-color:#c71b1b;}
[id^=wa-compmenu-kou9bx46668s68] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kou9bx46668s68] .dropdown-menu > li > a:focus {background-color:#c71b1b;}
[id^=wa-compmenu-kou9bx46668s68] .navbar-default {background-color:#c71b1b; border-color:#c71b1b; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-brand, [id^=wa-compmenu-kou9bx46668s68].navbar-nav li a, [id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arvo, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:20px; color:#ffffff;}
[id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#ffffff;}
[id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-nav > .open > a:focus {color:#ffffff; background-color:#c71b1b;}
[id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-toggle .icon-bar {background-color:#ffffff;}
[id^=wa-compmenu-kou9bx46668s68] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kou9bx46668s68].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-kor2kk115yke1k {margin:0px 0px;}
#wa-row-kor2kk115yke1k>div {padding: 0px 0px;}
#wa-row-kor2kk115ykgk8 {margin:0px 0px;}
#wa-row-kor2kk115ykgk8>div {padding: 0px 0px;}
#wa-row-kor2kk125yke6w {margin:0px 0px;}
#wa-row-kor2kk125yke6w>div {padding: 0px 0px;}
#wa-row-kor2kk125ykec8 {margin:0px 0px;}
#wa-row-kor2kk125ykec8>div {padding: 0px 0px;}
#wa-row-kor2kk125ykes8 {margin:0px 0px;}
#wa-row-kor2kk125ykes8>div {padding: 0px 0px;}
#wa-row-kou9bx4651af8o {margin:0px 0px;}
#wa-row-kou9bx4651af8o>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-kor2kk115yke1k {margin:0px 0px;}
#wa-row-kor2kk115yke1k>div {padding: 0px 0px;}
#wa-row-kor2kk115ykgk8 {margin:0px 0px;}
#wa-row-kor2kk115ykgk8>div {padding: 0px 0px;}
#wa-row-kor2kk125yke6w {margin:0px 0px;}
#wa-row-kor2kk125yke6w>div {padding: 0px 0px;}
#wa-row-kor2kk125ykec8 {margin:0px 0px;}
#wa-row-kor2kk125ykec8>div {padding: 0px 0px;}
#wa-row-kor2kk125ykes8 {margin:0px 0px;}
#wa-row-kor2kk125ykes8>div {padding: 0px 0px;}
#wa-row-kou9bx4651af8o {margin:0px 0px;}
#wa-row-kou9bx4651af8o>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-kor2kk115yke1k {margin:0px 0px;}
#wa-row-kor2kk115yke1k>div {padding: 0px 0px;}
#wa-row-kor2kk115ykgk8 {margin:0px 0px;}
#wa-row-kor2kk115ykgk8>div {padding: 0px 0px;}
#wa-row-kor2kk125yke6w {margin:0px 0px;}
#wa-row-kor2kk125yke6w>div {padding: 0px 0px;}
#wa-row-kor2kk125ykec8 {margin:0px 0px;}
#wa-row-kor2kk125ykec8>div {padding: 0px 0px;}
#wa-row-kor2kk125ykes8 {margin:0px 0px;}
#wa-row-kor2kk125ykes8>div {padding: 0px 0px;}
#wa-row-kou9bx4651af8o {margin:0px 0px;}
#wa-row-kou9bx4651af8o>div {padding: 0px 0px;}
}
