#wa-comptext-kor2kk125y9tj4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-korkcltn4x9ke0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-korkcltn4x9ke0>.row>.clearfix {margin-bottom:0px;}
#wa-container-korkcltn4x9ke0>.wa-container-vspacer {height:0px;}
#wa-container-korkclto4x9l5s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-korkclto4x9l5s>.row>.clearfix {margin-bottom:0px;}
#wa-container-korkclto4x9l5s>.wa-container-vspacer {height:0px;}
#wa-container-korkcltq4x9rc0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-korkcltq4x9rc0>.row>.clearfix {margin-bottom:0px;}
#wa-container-korkcltq4x9rc0>.wa-container-vspacer {height:0px;}
#wa-container-korkcltt4x9psg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-korkcltt4x9psg>.row>.clearfix {margin-bottom:0px;}
#wa-container-korkcltt4x9psg>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-korkcltn4x9ke0 {background-color:#ffffff;}
#wa-container-wrapper-korkclto4x9l5s {background-color:#c71b1b;}
#wa-row-kor2kk115ykdqw {margin:0px 0px;}
#wa-row-kor2kk115ykdqw>div {padding: 0px 0px;}
#wa-row-kor2kk115yke1k {margin:0px 0px;}
#wa-row-kor2kk115yke1k>div {padding: 0px 0px;}
#wa-row-kor2kk115ykgk8 {margin:0px 0px;}
#wa-row-kor2kk115ykgk8>div {padding: 0px 0px;}
#wa-row-kor2kk125yke6w {margin:0px 0px;}
#wa-row-kor2kk125yke6w>div {padding: 0px 0px;}
#wa-row-kor2kk125ykec8 {margin:0px 0px;}
#wa-row-kor2kk125ykec8>div {padding: 0px 0px;}
#wa-row-kor2kk125ykes8 {margin:0px 0px;}
#wa-row-kor2kk125ykes8>div {padding: 0px 0px;}
#wa-sub-container-korkcltn4x9gj4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-korkcltn4x9gj4>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-korkcltn4x9gj4>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-kork5wq772kr2g] .dropdown-menu {background-color:#c71b1b;}
[id^=wa-compmenu-kork5wq772kr2g] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kork5wq772kr2g] .dropdown-menu > li > a:focus {background-color:#c71b1b;}
[id^=wa-compmenu-kork5wq772kr2g] .navbar-default {background-color:#c71b1b; border-color:#c71b1b; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-brand, [id^=wa-compmenu-kork5wq772kr2g].navbar-nav li a, [id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arvo, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:20px; color:#ffffff;}
[id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#ffffff;}
[id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-nav > .open > a:focus {color:#ffffff; background-color:#c71b1b;}
[id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-toggle .icon-bar {background-color:#ffffff;}
[id^=wa-compmenu-kork5wq772kr2g] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kork5wq772kr2g].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-kor2kk115ykdqw {margin:0px 0px;}
#wa-row-kor2kk115ykdqw>div {padding: 0px 0px;}
#wa-row-kor2kk115yke1k {margin:0px 0px;}
#wa-row-kor2kk115yke1k>div {padding: 0px 0px;}
#wa-row-kor2kk115ykgk8 {margin:0px 0px;}
#wa-row-kor2kk115ykgk8>div {padding: 0px 0px;}
#wa-row-kor2kk125yke6w {margin:0px 0px;}
#wa-row-kor2kk125yke6w>div {padding: 0px 0px;}
#wa-row-kor2kk125ykec8 {margin:0px 0px;}
#wa-row-kor2kk125ykec8>div {padding: 0px 0px;}
#wa-row-kor2kk125ykes8 {margin:0px 0px;}
#wa-row-kor2kk125ykes8>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-kor2kk115ykdqw {margin:0px 0px;}
#wa-row-kor2kk115ykdqw>div {padding: 0px 0px;}
#wa-row-kor2kk115yke1k {margin:0px 0px;}
#wa-row-kor2kk115yke1k>div {padding: 0px 0px;}
#wa-row-kor2kk115ykgk8 {margin:0px 0px;}
#wa-row-kor2kk115ykgk8>div {padding: 0px 0px;}
#wa-row-kor2kk125yke6w {margin:0px 0px;}
#wa-row-kor2kk125yke6w>div {padding: 0px 0px;}
#wa-row-kor2kk125ykec8 {margin:0px 0px;}
#wa-row-kor2kk125ykec8>div {padding: 0px 0px;}
#wa-row-kor2kk125ykes8 {margin:0px 0px;}
#wa-row-kor2kk125ykes8>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-kor2kk115ykdqw {margin:0px 0px;}
#wa-row-kor2kk115ykdqw>div {padding: 0px 0px;}
#wa-row-kor2kk115yke1k {margin:0px 0px;}
#wa-row-kor2kk115yke1k>div {padding: 0px 0px;}
#wa-row-kor2kk115ykgk8 {margin:0px 0px;}
#wa-row-kor2kk115ykgk8>div {padding: 0px 0px;}
#wa-row-kor2kk125yke6w {margin:0px 0px;}
#wa-row-kor2kk125yke6w>div {padding: 0px 0px;}
#wa-row-kor2kk125ykec8 {margin:0px 0px;}
#wa-row-kor2kk125ykec8>div {padding: 0px 0px;}
#wa-row-kor2kk125ykes8 {margin:0px 0px;}
#wa-row-kor2kk125ykes8>div {padding: 0px 0px;}
}
