#wa-comptext-kor3xruo62vltc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-korkdu6r4x9nh4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-korkdu6r4x9nh4>.row>.clearfix {margin-bottom:0px;}
#wa-container-korkdu6r4x9nh4>.wa-container-vspacer {height:0px;}
#wa-container-korkdu6u4x9p0o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-korkdu6u4x9p0o>.row>.clearfix {margin-bottom:0px;}
#wa-container-korkdu6u4x9p0o>.wa-container-vspacer {height:0px;}
#wa-container-korkdu6w4x9jm8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-korkdu6w4x9jm8>.row>.clearfix {margin-bottom:0px;}
#wa-container-korkdu6w4x9jm8>.wa-container-vspacer {height:0px;}
#wa-container-korkdu6y4x9psg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-korkdu6y4x9psg>.row>.clearfix {margin-bottom:0px;}
#wa-container-korkdu6y4x9psg>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-korkdu6r4x9nh4 {background-color:#ffffff;}
#wa-container-wrapper-korkdu6u4x9p0o {background-color:#c71b1b;}
#wa-row-kor3xruo64toa0 {margin:0px 0px;}
#wa-row-kor3xruo64toa0>div {padding: 0px 0px;}
#wa-row-kor3xruo64tovc {margin:0px 0px;}
#wa-row-kor3xruo64tovc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tpgo {margin:0px 0px;}
#wa-row-kor3xruo64tpgo>div {padding: 0px 0px;}
#wa-row-kor3xruo64tprc {margin:0px 0px;}
#wa-row-kor3xruo64tprc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tr3c {margin:0px 0px;}
#wa-row-kor3xruo64tr3c>div {padding: 0px 0px;}
#wa-row-kor3xruo64trjc {margin:0px 0px;}
#wa-row-kor3xruo64trjc>div {padding: 0px 0px;}
#wa-sub-container-korkdu6s4x9frc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-korkdu6s4x9frc>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-korkdu6s4x9frc>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-kork37w94xcti0] .dropdown-menu {background-color:#c71b1b;}
[id^=wa-compmenu-kork37w94xcti0] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kork37w94xcti0] .dropdown-menu > li > a:focus {background-color:#c71b1b;}
[id^=wa-compmenu-kork37w94xcti0] .navbar-default {background-color:#c71b1b; border-color:#c71b1b; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-brand, [id^=wa-compmenu-kork37w94xcti0].navbar-nav li a, [id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arvo, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:20px; color:#ffffff;}
[id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#ffffff;}
[id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-nav > .open > a:focus {color:#ffffff; background-color:#c71b1b;}
[id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-toggle .icon-bar {background-color:#ffffff;}
[id^=wa-compmenu-kork37w94xcti0] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kork37w94xcti0].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-kor3xruo64toa0 {margin:0px 0px;}
#wa-row-kor3xruo64toa0>div {padding: 0px 0px;}
#wa-row-kor3xruo64tovc {margin:0px 0px;}
#wa-row-kor3xruo64tovc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tpgo {margin:0px 0px;}
#wa-row-kor3xruo64tpgo>div {padding: 0px 0px;}
#wa-row-kor3xruo64tprc {margin:0px 0px;}
#wa-row-kor3xruo64tprc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tr3c {margin:0px 0px;}
#wa-row-kor3xruo64tr3c>div {padding: 0px 0px;}
#wa-row-kor3xruo64trjc {margin:0px 0px;}
#wa-row-kor3xruo64trjc>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-kor3xruo64toa0 {margin:0px 0px;}
#wa-row-kor3xruo64toa0>div {padding: 0px 0px;}
#wa-row-kor3xruo64tovc {margin:0px 0px;}
#wa-row-kor3xruo64tovc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tpgo {margin:0px 0px;}
#wa-row-kor3xruo64tpgo>div {padding: 0px 0px;}
#wa-row-kor3xruo64tprc {margin:0px 0px;}
#wa-row-kor3xruo64tprc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tr3c {margin:0px 0px;}
#wa-row-kor3xruo64tr3c>div {padding: 0px 0px;}
#wa-row-kor3xruo64trjc {margin:0px 0px;}
#wa-row-kor3xruo64trjc>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-kor3xruo64toa0 {margin:0px 0px;}
#wa-row-kor3xruo64toa0>div {padding: 0px 0px;}
#wa-row-kor3xruo64tovc {margin:0px 0px;}
#wa-row-kor3xruo64tovc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tpgo {margin:0px 0px;}
#wa-row-kor3xruo64tpgo>div {padding: 0px 0px;}
#wa-row-kor3xruo64tprc {margin:0px 0px;}
#wa-row-kor3xruo64tprc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tr3c {margin:0px 0px;}
#wa-row-kor3xruo64tr3c>div {padding: 0px 0px;}
#wa-row-kor3xruo64trjc {margin:0px 0px;}
#wa-row-kor3xruo64trjc>div {padding: 0px 0px;}
}
