#wa-comptext-koi7ybt73dqgbk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-koi985fv4tn5o8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kork6sef5221tk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kork6sef5221tk>.row>.clearfix {margin-bottom:0px;}
#wa-container-kork6sef5221tk>.wa-container-vspacer {height:0px;}
#wa-container-kork6seg5223d4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kork6seg5223d4>.row>.clearfix {margin-bottom:0px;}
#wa-container-kork6seg5223d4>.wa-container-vspacer {height:0px;}
#wa-container-kork6sei521uvk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kork6sei521uvk>.row>.clearfix {margin-bottom:0px;}
#wa-container-kork6sei521uvk>.wa-container-vspacer {height:0px;}
#wa-container-kork6sej73ukc0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kork6sej73ukc0>.row>.clearfix {margin-bottom:0px;}
#wa-container-kork6sej73ukc0>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-kork6sef5221tk {background-color:#ffffff;}
#wa-container-wrapper-kork6seg5223d4 {background-color:#c71b1b;}
#wa-row-koi7t6l2613qg0 {margin:0px 0px;}
#wa-row-koi7t6l2613qg0>div {padding: 0px 0px;}
#wa-row-koi7ybt765x214 {margin:0px 0px;}
#wa-row-koi7ybt765x214>div {padding: 0px 0px;}
#wa-row-koi7ybt765x2h4 {margin:0px 0px;}
#wa-row-koi7ybt765x2h4>div {padding: 0px 0px;}
#wa-row-koi7ybt765x494 {margin:0px 0px;}
#wa-row-koi7ybt765x494>div {padding: 0px 0px;}
#wa-row-koid4rzq3dac9s {margin:0px 0px;}
#wa-row-koid4rzq3dac9s>div {padding: 0px 0px;}
#wa-row-koidh7t24z72mw {margin:0px 0px;}
#wa-row-koidh7t24z72mw>div {padding: 0px 0px;}
#wa-sub-container-kork6sef521u3s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kork6sef521u3s>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kork6sef521u3s>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-kork1xdo4ybmc8] .dropdown-menu {background-color:#c71b1b;}
[id^=wa-compmenu-kork1xdo4ybmc8] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kork1xdo4ybmc8] .dropdown-menu > li > a:focus {background-color:#c71b1b;}
[id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default {background-color:#c71b1b; border-color:#c71b1b; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-brand, [id^=wa-compmenu-kork1xdo4ybmc8].navbar-nav li a, [id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arvo, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:18px; color:#ffffff;}
[id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#ffffff;}
[id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-nav > .open > a:focus {color:#ffffff; background-color:#c71b1b;}
[id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-toggle .icon-bar {background-color:#ffffff;}
[id^=wa-compmenu-kork1xdo4ybmc8] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kork1xdo4ybmc8].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-koi7t6l2613qg0 {margin:0px 0px;}
#wa-row-koi7t6l2613qg0>div {padding: 0px 0px;}
#wa-row-koi7ybt765x214 {margin:0px 0px;}
#wa-row-koi7ybt765x214>div {padding: 0px 0px;}
#wa-row-koi7ybt765x2h4 {margin:0px 0px;}
#wa-row-koi7ybt765x2h4>div {padding: 0px 0px;}
#wa-row-koi7ybt765x494 {margin:0px 0px;}
#wa-row-koi7ybt765x494>div {padding: 0px 0px;}
#wa-row-koid4rzq3dac9s {margin:0px 0px;}
#wa-row-koid4rzq3dac9s>div {padding: 0px 0px;}
#wa-row-koidh7t24z72mw {margin:0px 0px;}
#wa-row-koidh7t24z72mw>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-koi7t6l2613qg0 {margin:0px 0px;}
#wa-row-koi7t6l2613qg0>div {padding: 0px 0px;}
#wa-row-koi7ybt765x214 {margin:0px 0px;}
#wa-row-koi7ybt765x214>div {padding: 0px 0px;}
#wa-row-koi7ybt765x2h4 {margin:0px 0px;}
#wa-row-koi7ybt765x2h4>div {padding: 0px 0px;}
#wa-row-koi7ybt765x494 {margin:0px 0px;}
#wa-row-koi7ybt765x494>div {padding: 0px 0px;}
#wa-row-koid4rzq3dac9s {margin:0px 0px;}
#wa-row-koid4rzq3dac9s>div {padding: 0px 0px;}
#wa-row-koidh7t24z72mw {margin:0px 0px;}
#wa-row-koidh7t24z72mw>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-koi7t6l2613qg0 {margin:0px 0px;}
#wa-row-koi7t6l2613qg0>div {padding: 0px 0px;}
#wa-row-koi7ybt765x214 {margin:0px 0px;}
#wa-row-koi7ybt765x214>div {padding: 0px 0px;}
#wa-row-koi7ybt765x2h4 {margin:0px 0px;}
#wa-row-koi7ybt765x2h4>div {padding: 0px 0px;}
#wa-row-koi7ybt765x494 {margin:0px 0px;}
#wa-row-koi7ybt765x494>div {padding: 0px 0px;}
#wa-row-koid4rzq3dac9s {margin:0px 0px;}
#wa-row-koid4rzq3dac9s>div {padding: 0px 0px;}
#wa-row-koidh7t24z72mw {margin:0px 0px;}
#wa-row-koidh7t24z72mw>div {padding: 0px 0px;}
}
