#wa-comptext-kor3xruo62vl7s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kor3xruo62vltc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kor72v8a4v4g0o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kor72v8a4v4g0o>.row>.clearfix {margin-bottom:0px;}
#wa-container-kor72v8a4v4g0o>.wa-container-vspacer {height:0px;}
#wa-container-kor72v8f4v4m6w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kor72v8f4v4m6w>.row>.clearfix {margin-bottom:0px;}
#wa-container-kor72v8f4v4m6w>.wa-container-vspacer {height:0px;}
#wa-container-kor72v8h4v4j3s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kor72v8h4v4j3s>.row>.clearfix {margin-bottom:0px;}
#wa-container-kor72v8h4v4j3s>.wa-container-vspacer {height:0px;}
#wa-container-kor72v8i4v4myo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kor72v8i4v4myo>.row>.clearfix {margin-bottom:0px;}
#wa-container-kor72v8i4v4myo>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-kor72v8a4v4g0o {background-color:#ffffff;}
#wa-container-wrapper-kor72v8f4v4m6w {background-color:#c71b1b;}
#wa-row-kor3xruo64toa0 {margin:0px 0px;}
#wa-row-kor3xruo64toa0>div {padding: 0px 0px;}
#wa-row-kor3xruo64tovc {margin:0px 0px;}
#wa-row-kor3xruo64tovc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tpgo {margin:0px 0px;}
#wa-row-kor3xruo64tpgo>div {padding: 0px 0px;}
#wa-row-kor3xruo64tprc {margin:0px 0px;}
#wa-row-kor3xruo64tprc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tr3c {margin:0px 0px;}
#wa-row-kor3xruo64tr3c>div {padding: 0px 0px;}
#wa-row-kor3xruo64trjc {margin:0px 0px;}
#wa-row-kor3xruo64trjc>div {padding: 0px 0px;}
#wa-sub-container-kor72v8a4v4hk8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kor72v8a4v4hk8>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kor72v8a4v4hk8>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-kor72x0160pijs] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-kor72x0160pijs] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kor72x0160pijs] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-kor72x0160pijs] .navbar-default {background-color:#c71b1b; border-color:#c71b1b; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-brand, [id^=wa-compmenu-kor72x0160pijs].navbar-nav li a, [id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arvo, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:18px; color:#ffffff;}
[id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#ffffff;}
[id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-nav > .open > a:focus {color:#ffffff; background-color:#ffffff;}
[id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-toggle .icon-bar {background-color:#ffffff;}
[id^=wa-compmenu-kor72x0160pijs] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kor72x0160pijs].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-kor3xruo64toa0 {margin:0px 0px;}
#wa-row-kor3xruo64toa0>div {padding: 0px 0px;}
#wa-row-kor3xruo64tovc {margin:0px 0px;}
#wa-row-kor3xruo64tovc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tpgo {margin:0px 0px;}
#wa-row-kor3xruo64tpgo>div {padding: 0px 0px;}
#wa-row-kor3xruo64tprc {margin:0px 0px;}
#wa-row-kor3xruo64tprc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tr3c {margin:0px 0px;}
#wa-row-kor3xruo64tr3c>div {padding: 0px 0px;}
#wa-row-kor3xruo64trjc {margin:0px 0px;}
#wa-row-kor3xruo64trjc>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-kor3xruo64toa0 {margin:0px 0px;}
#wa-row-kor3xruo64toa0>div {padding: 0px 0px;}
#wa-row-kor3xruo64tovc {margin:0px 0px;}
#wa-row-kor3xruo64tovc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tpgo {margin:0px 0px;}
#wa-row-kor3xruo64tpgo>div {padding: 0px 0px;}
#wa-row-kor3xruo64tprc {margin:0px 0px;}
#wa-row-kor3xruo64tprc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tr3c {margin:0px 0px;}
#wa-row-kor3xruo64tr3c>div {padding: 0px 0px;}
#wa-row-kor3xruo64trjc {margin:0px 0px;}
#wa-row-kor3xruo64trjc>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-kor3xruo64toa0 {margin:0px 0px;}
#wa-row-kor3xruo64toa0>div {padding: 0px 0px;}
#wa-row-kor3xruo64tovc {margin:0px 0px;}
#wa-row-kor3xruo64tovc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tpgo {margin:0px 0px;}
#wa-row-kor3xruo64tpgo>div {padding: 0px 0px;}
#wa-row-kor3xruo64tprc {margin:0px 0px;}
#wa-row-kor3xruo64tprc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tr3c {margin:0px 0px;}
#wa-row-kor3xruo64tr3c>div {padding: 0px 0px;}
#wa-row-kor3xruo64trjc {margin:0px 0px;}
#wa-row-kor3xruo64trjc>div {padding: 0px 0px;}
}
