#wa-comptext-kor3xruo62vltc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kou980ay6108f4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kou980ay6108f4>.row>.clearfix {margin-bottom:0px;}
#wa-container-kou980ay6108f4>.wa-container-vspacer {height:0px;}
#wa-container-kou980ay610ca0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kou980ay610ca0>.row>.clearfix {margin-bottom:0px;}
#wa-container-kou980ay610ca0>.wa-container-vspacer {height:0px;}
#wa-container-kou980ay610elc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kou980ay610elc>.row>.clearfix {margin-bottom:0px;}
#wa-container-kou980ay610elc>.wa-container-vspacer {height:0px;}
#wa-container-kou987w265875c {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kou987w265875c>.row>.clearfix {margin-bottom:0px;}
#wa-container-kou987w265875c>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-kou980ay610elc {background-color:#ffffff;}
#wa-container-wrapper-kou987w265875c {background-color:#c71b1b;}
#wa-row-kor3xruo64toa0 {margin:0px 0px;}
#wa-row-kor3xruo64toa0>div {padding: 0px 0px;}
#wa-row-kor3xruo64tovc {margin:0px 0px;}
#wa-row-kor3xruo64tovc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tpgo {margin:0px 0px;}
#wa-row-kor3xruo64tpgo>div {padding: 0px 0px;}
#wa-row-kor3xruo64tprc {margin:0px 0px;}
#wa-row-kor3xruo64tprc>div {padding: 0px 0px;}
#wa-row-kor3xruo64trjc {margin:0px 0px;}
#wa-row-kor3xruo64trjc>div {padding: 0px 0px;}
#wa-row-kou982xf66065c {margin:0px 0px;}
#wa-row-kou982xf66065c>div {padding: 0px 0px;}
#wa-sub-container-kou980ay610aqg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kou980ay610aqg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kou980ay610aqg>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-kou982xf4xuwow] .dropdown-menu {background-color:#c71b1b;}
[id^=wa-compmenu-kou982xf4xuwow] .dropdown-menu > li > a:hover, [id^=wa-compmenu-kou982xf4xuwow] .dropdown-menu > li > a:focus {background-color:#c71b1b;}
[id^=wa-compmenu-kou982xf4xuwow] .navbar-default {background-color:#c71b1b; border-color:#c71b1b; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-brand, [id^=wa-compmenu-kou982xf4xuwow].navbar-nav li a, [id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arvo, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:20px; color:#ffffff;}
[id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#ffffff;}
[id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-nav > .open > a:focus {color:#ffffff; background-color:#c71b1b;}
[id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-toggle .icon-bar {background-color:#ffffff;}
[id^=wa-compmenu-kou982xf4xuwow] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-kou982xf4xuwow].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-kor3xruo64toa0 {margin:0px 0px;}
#wa-row-kor3xruo64toa0>div {padding: 0px 0px;}
#wa-row-kor3xruo64tovc {margin:0px 0px;}
#wa-row-kor3xruo64tovc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tpgo {margin:0px 0px;}
#wa-row-kor3xruo64tpgo>div {padding: 0px 0px;}
#wa-row-kor3xruo64tprc {margin:0px 0px;}
#wa-row-kor3xruo64tprc>div {padding: 0px 0px;}
#wa-row-kor3xruo64trjc {margin:0px 0px;}
#wa-row-kor3xruo64trjc>div {padding: 0px 0px;}
#wa-row-kou982xf66065c {margin:0px 0px;}
#wa-row-kou982xf66065c>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-kor3xruo64toa0 {margin:0px 0px;}
#wa-row-kor3xruo64toa0>div {padding: 0px 0px;}
#wa-row-kor3xruo64tovc {margin:0px 0px;}
#wa-row-kor3xruo64tovc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tpgo {margin:0px 0px;}
#wa-row-kor3xruo64tpgo>div {padding: 0px 0px;}
#wa-row-kor3xruo64tprc {margin:0px 0px;}
#wa-row-kor3xruo64tprc>div {padding: 0px 0px;}
#wa-row-kor3xruo64trjc {margin:0px 0px;}
#wa-row-kor3xruo64trjc>div {padding: 0px 0px;}
#wa-row-kou982xf66065c {margin:0px 0px;}
#wa-row-kou982xf66065c>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-kor3xruo64toa0 {margin:0px 0px;}
#wa-row-kor3xruo64toa0>div {padding: 0px 0px;}
#wa-row-kor3xruo64tovc {margin:0px 0px;}
#wa-row-kor3xruo64tovc>div {padding: 0px 0px;}
#wa-row-kor3xruo64tpgo {margin:0px 0px;}
#wa-row-kor3xruo64tpgo>div {padding: 0px 0px;}
#wa-row-kor3xruo64tprc {margin:0px 0px;}
#wa-row-kor3xruo64tprc>div {padding: 0px 0px;}
#wa-row-kor3xruo64trjc {margin:0px 0px;}
#wa-row-kor3xruo64trjc>div {padding: 0px 0px;}
#wa-row-kou982xf66065c {margin:0px 0px;}
#wa-row-kou982xf66065c>div {padding: 0px 0px;}
}
