#wa-comptext-korlqzwf54pa8w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-kou02grw53wb68 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kou6wfpy4xvxu8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kou6wfpy4xvxu8>.row>.clearfix {margin-bottom:0px;}
#wa-container-kou6wfpy4xvxu8>.wa-container-vspacer {height:0px;}
#wa-container-kou6wfpz4xw05k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kou6wfpz4xw05k>.row>.clearfix {margin-bottom:0px;}
#wa-container-kou6wfpz4xw05k>.wa-container-vspacer {height:0px;}
#wa-container-kou6wfq04xw40g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kou6wfq04xw40g>.row>.clearfix {margin-bottom:0px;}
#wa-container-kou6wfq04xw40g>.wa-container-vspacer {height:0px;}
#wa-container-kou6wfq14xw0xc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kou6wfq14xw0xc>.row>.clearfix {margin-bottom:0px;}
#wa-container-kou6wfq14xw0xc>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-kou6wfpy4xvxu8 {background-color:#ffffff;}
#wa-container-wrapper-kou6wfpz4xw05k {background-color:#c71b1b;}
#wa-row-korlqzwf6b7vco {margin:0px 0px;}
#wa-row-korlqzwf6b7vco>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7vnc {margin:0px 0px;}
#wa-row-korlqzwf6b7vnc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7w3c {margin:0px 0px;}
#wa-row-korlqzwf6b7w3c>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7we0 {margin:0px 0px;}
#wa-row-korlqzwf6b7we0>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7wzc {margin:0px 0px;}
#wa-row-korlqzwf6b7wzc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7xa0 {margin:0px 0px;}
#wa-row-korlqzwf6b7xa0>div {padding: 0px 0px;}
#wa-sub-container-kou6wfpy4xw5k0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kou6wfpy4xw5k0>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kou6wfpy4xw5k0>.wa-container-vspacer {height:0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-korlqzwf6b7vco {margin:0px 0px;}
#wa-row-korlqzwf6b7vco>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7vnc {margin:0px 0px;}
#wa-row-korlqzwf6b7vnc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7w3c {margin:0px 0px;}
#wa-row-korlqzwf6b7w3c>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7we0 {margin:0px 0px;}
#wa-row-korlqzwf6b7we0>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7wzc {margin:0px 0px;}
#wa-row-korlqzwf6b7wzc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7xa0 {margin:0px 0px;}
#wa-row-korlqzwf6b7xa0>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-korlqzwf6b7vco {margin:0px 0px;}
#wa-row-korlqzwf6b7vco>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7vnc {margin:0px 0px;}
#wa-row-korlqzwf6b7vnc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7w3c {margin:0px 0px;}
#wa-row-korlqzwf6b7w3c>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7we0 {margin:0px 0px;}
#wa-row-korlqzwf6b7we0>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7wzc {margin:0px 0px;}
#wa-row-korlqzwf6b7wzc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7xa0 {margin:0px 0px;}
#wa-row-korlqzwf6b7xa0>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-korlqzwf6b7vco {margin:0px 0px;}
#wa-row-korlqzwf6b7vco>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7vnc {margin:0px 0px;}
#wa-row-korlqzwf6b7vnc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7w3c {margin:0px 0px;}
#wa-row-korlqzwf6b7w3c>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7we0 {margin:0px 0px;}
#wa-row-korlqzwf6b7we0>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7wzc {margin:0px 0px;}
#wa-row-korlqzwf6b7wzc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7xa0 {margin:0px 0px;}
#wa-row-korlqzwf6b7xa0>div {padding: 0px 0px;}
}
