#wa-comptext-korlqzwf54pa8w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-korlsyxw4xejjc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-kosyqbdx4ywuxs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kosyqbdx4ywuxs>.row>.clearfix {margin-bottom:0px;}
#wa-container-kosyqbdx4ywuxs>.wa-container-vspacer {height:0px;}
#wa-container-kosyqbdy4ywnzs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kosyqbdy4ywnzs>.row>.clearfix {margin-bottom:0px;}
#wa-container-kosyqbdy4ywnzs>.wa-container-vspacer {height:0px;}
#wa-container-kosyqbdz4ywr2w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kosyqbdz4ywr2w>.row>.clearfix {margin-bottom:0px;}
#wa-container-kosyqbdz4ywr2w>.wa-container-vspacer {height:0px;}
#wa-container-kosyqbe04ywpjc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-kosyqbe04ywpjc>.row>.clearfix {margin-bottom:0px;}
#wa-container-kosyqbe04ywpjc>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-kosyqbdx4ywuxs {background-color:#ffffff;}
#wa-container-wrapper-kosyqbdy4ywnzs {background-color:#c71b1b;}
#wa-row-korlqzwf6b7vco {margin:0px 0px;}
#wa-row-korlqzwf6b7vco>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7vnc {margin:0px 0px;}
#wa-row-korlqzwf6b7vnc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7w3c {margin:0px 0px;}
#wa-row-korlqzwf6b7w3c>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7we0 {margin:0px 0px;}
#wa-row-korlqzwf6b7we0>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7wzc {margin:0px 0px;}
#wa-row-korlqzwf6b7wzc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7xa0 {margin:0px 0px;}
#wa-row-korlqzwf6b7xa0>div {padding: 0px 0px;}
#wa-sub-container-kosyqbdx4ywk4w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-kosyqbdx4ywk4w>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-kosyqbdx4ywk4w>.wa-container-vspacer {height:0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-korlqzwf6b7vco {margin:0px 0px;}
#wa-row-korlqzwf6b7vco>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7vnc {margin:0px 0px;}
#wa-row-korlqzwf6b7vnc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7w3c {margin:0px 0px;}
#wa-row-korlqzwf6b7w3c>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7we0 {margin:0px 0px;}
#wa-row-korlqzwf6b7we0>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7wzc {margin:0px 0px;}
#wa-row-korlqzwf6b7wzc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7xa0 {margin:0px 0px;}
#wa-row-korlqzwf6b7xa0>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-korlqzwf6b7vco {margin:0px 0px;}
#wa-row-korlqzwf6b7vco>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7vnc {margin:0px 0px;}
#wa-row-korlqzwf6b7vnc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7w3c {margin:0px 0px;}
#wa-row-korlqzwf6b7w3c>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7we0 {margin:0px 0px;}
#wa-row-korlqzwf6b7we0>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7wzc {margin:0px 0px;}
#wa-row-korlqzwf6b7wzc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7xa0 {margin:0px 0px;}
#wa-row-korlqzwf6b7xa0>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-korlqzwf6b7vco {margin:0px 0px;}
#wa-row-korlqzwf6b7vco>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7vnc {margin:0px 0px;}
#wa-row-korlqzwf6b7vnc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7w3c {margin:0px 0px;}
#wa-row-korlqzwf6b7w3c>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7we0 {margin:0px 0px;}
#wa-row-korlqzwf6b7we0>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7wzc {margin:0px 0px;}
#wa-row-korlqzwf6b7wzc>div {padding: 0px 0px;}
#wa-row-korlqzwf6b7xa0 {margin:0px 0px;}
#wa-row-korlqzwf6b7xa0>div {padding: 0px 0px;}
}
