#wa-comptext-koihk4374ivfs0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-korlkevb6aljtk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-korlkevb6aljtk>.row>.clearfix {margin-bottom:0px;}
#wa-container-korlkevb6aljtk>.wa-container-vspacer {height:0px;}
#wa-container-korlkeve6alpzs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-korlkeve6alpzs>.row>.clearfix {margin-bottom:0px;}
#wa-container-korlkeve6alpzs>.wa-container-vspacer {height:0px;}
#wa-container-korlkevg6alklc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-korlkevg6alklc>.row>.clearfix {margin-bottom:0px;}
#wa-container-korlkevg6alklc>.wa-container-vspacer {height:0px;}
#wa-container-korlkevh6alld4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-korlkevh6alld4>.row>.clearfix {margin-bottom:0px;}
#wa-container-korlkevh6alld4>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-korlkevb6aljtk {background-color:#ffffff;}
#wa-container-wrapper-korlkeve6alpzs {background-color:#c71b1b;}
#wa-row-koihk4374krf3s {margin:0px 0px;}
#wa-row-koihk4374krf3s>div {padding: 0px 0px;}
#wa-row-koihk4374krf94 {margin:0px 0px;}
#wa-row-koihk4374krf94>div {padding: 0px 0px;}
#wa-row-koihk4374krfjs {margin:0px 0px;}
#wa-row-koihk4374krfjs>div {padding: 0px 0px;}
#wa-row-koihk4374krhrs {margin:0px 0px;}
#wa-row-koihk4374krhrs>div {padding: 0px 0px;}
#wa-row-koihk4374krhx4 {margin:0px 0px;}
#wa-row-koihk4374krhx4>div {padding: 0px 0px;}
#wa-row-koihk4374krjeg {margin:0px 0px;}
#wa-row-koihk4374krjeg>div {padding: 0px 0px;}
#wa-sub-container-korlkevc6alog8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-korlkevc6alog8>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-korlkevc6alog8>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-korklkru4ybig8] .dropdown-menu {background-color:#c71b1b;}
[id^=wa-compmenu-korklkru4ybig8] .dropdown-menu > li > a:hover, [id^=wa-compmenu-korklkru4ybig8] .dropdown-menu > li > a:focus {background-color:#c71b1b;}
[id^=wa-compmenu-korklkru4ybig8] .navbar-default {background-color:#c71b1b; border-color:#c71b1b; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-brand, [id^=wa-compmenu-korklkru4ybig8].navbar-nav li a, [id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arvo, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:20px; color:#ffffff;}
[id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#ffffff;}
[id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-nav > .open > a:focus {color:#ffffff; background-color:#c71b1b;}
[id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-toggle .icon-bar {background-color:#ffffff;}
[id^=wa-compmenu-korklkru4ybig8] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-korklkru4ybig8].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-koihk4374krf3s {margin:0px 0px;}
#wa-row-koihk4374krf3s>div {padding: 0px 0px;}
#wa-row-koihk4374krf94 {margin:0px 0px;}
#wa-row-koihk4374krf94>div {padding: 0px 0px;}
#wa-row-koihk4374krfjs {margin:0px 0px;}
#wa-row-koihk4374krfjs>div {padding: 0px 0px;}
#wa-row-koihk4374krhrs {margin:0px 0px;}
#wa-row-koihk4374krhrs>div {padding: 0px 0px;}
#wa-row-koihk4374krhx4 {margin:0px 0px;}
#wa-row-koihk4374krhx4>div {padding: 0px 0px;}
#wa-row-koihk4374krjeg {margin:0px 0px;}
#wa-row-koihk4374krjeg>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-koihk4374krf3s {margin:0px 0px;}
#wa-row-koihk4374krf3s>div {padding: 0px 0px;}
#wa-row-koihk4374krf94 {margin:0px 0px;}
#wa-row-koihk4374krf94>div {padding: 0px 0px;}
#wa-row-koihk4374krfjs {margin:0px 0px;}
#wa-row-koihk4374krfjs>div {padding: 0px 0px;}
#wa-row-koihk4374krhrs {margin:0px 0px;}
#wa-row-koihk4374krhrs>div {padding: 0px 0px;}
#wa-row-koihk4374krhx4 {margin:0px 0px;}
#wa-row-koihk4374krhx4>div {padding: 0px 0px;}
#wa-row-koihk4374krjeg {margin:0px 0px;}
#wa-row-koihk4374krjeg>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-koihk4374krf3s {margin:0px 0px;}
#wa-row-koihk4374krf3s>div {padding: 0px 0px;}
#wa-row-koihk4374krf94 {margin:0px 0px;}
#wa-row-koihk4374krf94>div {padding: 0px 0px;}
#wa-row-koihk4374krfjs {margin:0px 0px;}
#wa-row-koihk4374krfjs>div {padding: 0px 0px;}
#wa-row-koihk4374krhrs {margin:0px 0px;}
#wa-row-koihk4374krhrs>div {padding: 0px 0px;}
#wa-row-koihk4374krhx4 {margin:0px 0px;}
#wa-row-koihk4374krhx4>div {padding: 0px 0px;}
#wa-row-koihk4374krjeg {margin:0px 0px;}
#wa-row-koihk4374krjeg>div {padding: 0px 0px;}
}
