#wa-comptext-koi7ybt73dqgbk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-koi985fv4tn5o8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-koi9gq155y45l4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-koi9gq155y45l4>.row>.clearfix {margin-bottom:0px;}
#wa-container-koi9gq155y45l4>.wa-container-vspacer {height:0px;}
#wa-container-koi9gq155y46cw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-koi9gq155y46cw>.row>.clearfix {margin-bottom:0px;}
#wa-container-koi9gq155y46cw>.wa-container-vspacer {height:0px;}
#wa-container-koi9gsnz5y4azk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-koi9gsnz5y4azk>.row>.clearfix {margin-bottom:0px;}
#wa-container-koi9gsnz5y4azk>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-koi9gq155y45l4 {background-color:#c71b1b;}
#wa-container-wrapper-koi9gq155y46cw {background-color:#ffffff;}
#wa-row-koi7t6l2613qg0 {margin:0px 0px;}
#wa-row-koi7t6l2613qg0>div {padding: 0px 0px;}
#wa-row-koi7ybt765x214 {margin:0px 0px;}
#wa-row-koi7ybt765x214>div {padding: 0px 0px;}
#wa-row-koi7ybt765x2h4 {margin:0px 0px;}
#wa-row-koi7ybt765x2h4>div {padding: 0px 0px;}
#wa-row-koi7ybt765x494 {margin:0px 0px;}
#wa-row-koi7ybt765x494>div {padding: 0px 0px;}
#wa-sub-container-koi9gq155y48o8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-koi9gq155y48o8>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-koi9gq155y48o8>.wa-container-vspacer {height:0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-koi7t6l2613qg0 {margin:0px 0px;}
#wa-row-koi7t6l2613qg0>div {padding: 0px 0px;}
#wa-row-koi7ybt765x214 {margin:0px 0px;}
#wa-row-koi7ybt765x214>div {padding: 0px 0px;}
#wa-row-koi7ybt765x2h4 {margin:0px 0px;}
#wa-row-koi7ybt765x2h4>div {padding: 0px 0px;}
#wa-row-koi7ybt765x494 {margin:0px 0px;}
#wa-row-koi7ybt765x494>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-koi7t6l2613qg0 {margin:0px 0px;}
#wa-row-koi7t6l2613qg0>div {padding: 0px 0px;}
#wa-row-koi7ybt765x214 {margin:0px 0px;}
#wa-row-koi7ybt765x214>div {padding: 0px 0px;}
#wa-row-koi7ybt765x2h4 {margin:0px 0px;}
#wa-row-koi7ybt765x2h4>div {padding: 0px 0px;}
#wa-row-koi7ybt765x494 {margin:0px 0px;}
#wa-row-koi7ybt765x494>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-koi7t6l2613qg0 {margin:0px 0px;}
#wa-row-koi7t6l2613qg0>div {padding: 0px 0px;}
#wa-row-koi7ybt765x214 {margin:0px 0px;}
#wa-row-koi7ybt765x214>div {padding: 0px 0px;}
#wa-row-koi7ybt765x2h4 {margin:0px 0px;}
#wa-row-koi7ybt765x2h4>div {padding: 0px 0px;}
#wa-row-koi7ybt765x494 {margin:0px 0px;}
#wa-row-koi7ybt765x494>div {padding: 0px 0px;}
}
