#wa-comptext-ko4rtqqd4acyoo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-ko4rtqqd4c77mg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-ko5tcrr57w2el4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-ko5t5icc7xdy40 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ko5t5icc7xdy40>.row>.clearfix {margin-bottom:0px;}
#wa-container-ko5t5icc7xdy40>.wa-container-vspacer {height:0px;}
#wa-container-ko5t5icc7xe174 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ko5t5icc7xe174>.row>.clearfix {margin-bottom:0px;}
#wa-container-ko5t5icc7xe174>.wa-container-vspacer {height:0px;}
#wa-container-ko5t5icc7xe854 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ko5t5icc7xe854>.row>.clearfix {margin-bottom:0px;}
#wa-container-ko5t5icc7xe854>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-ko5t5icc7xdy40 {background-color:#ffffff;}
#wa-container-wrapper-ko5t5icc7xe854 {background-color:#c71b1b;}
#wa-row-ko4rtqqd48ir34 {margin:0px 0px;}
#wa-row-ko4rtqqd48ir34>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48irz4 {margin:0px 0px;}
#wa-row-ko4rtqqd48irz4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48itb4 {margin:0px 0px;}
#wa-row-ko4rtqqd48itb4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48itls {margin:0px 0px;}
#wa-row-ko4rtqqd48itls>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48itr4 {margin:0px 0px;}
#wa-row-ko4rtqqd48itr4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48iun4 {margin:0px 0px;}
#wa-row-ko4rtqqd48iun4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48iv34 {margin:0px 0px;}
#wa-row-ko4rtqqd48iv34>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48iwkg {margin:0px 0px;}
#wa-row-ko4rtqqd48iwkg>div {padding: 0px 0px;}
#wa-row-ko4rtqqd5alfgw>.wa-item-rowspacer {height:50px;}
#wa-row-ko4rtqqd5alflk>.wa-item-rowspacer {height:50px;}
#wa-row-ko4rtqqd5alfuw>.wa-item-rowspacer {height:150px;}
#wa-row-ko4rtqqd5algi8>.wa-item-rowspacer {height:150px;}
#wa-row-ko4rtqqd5bie88>.wa-item-rowspacer {height:50px;}
#wa-row-ko5s801w60vos8 {margin:0px 0px;}
#wa-row-ko5s801w60vos8>div {padding: 0px 0px;}
#wa-row-ko5sm38o4ymtu0 {margin:0px 0px;}
#wa-row-ko5sm38o4ymtu0>div {padding: 0px 0px;}
#wa-sub-container-ko5t5icc7xdyvs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-ko5t5icc7xdyvs>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-ko5t5icc7xdyvs>.wa-container-vspacer {height:0px;}
#wa-sub-container-ko5t5icc7xe4a8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-ko5t5icc7xe4a8>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-ko5t5icc7xe4a8>.wa-container-vspacer {height:0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-ko4rtqqd48ir34 {margin:0px 0px;}
#wa-row-ko4rtqqd48ir34>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48irz4 {margin:0px 0px;}
#wa-row-ko4rtqqd48irz4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48itb4 {margin:0px 0px;}
#wa-row-ko4rtqqd48itb4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48itls {margin:0px 0px;}
#wa-row-ko4rtqqd48itls>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48itr4 {margin:0px 0px;}
#wa-row-ko4rtqqd48itr4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48iun4 {margin:0px 0px;}
#wa-row-ko4rtqqd48iun4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48iv34 {margin:0px 0px;}
#wa-row-ko4rtqqd48iv34>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48iwkg {margin:0px 0px;}
#wa-row-ko4rtqqd48iwkg>div {padding: 0px 0px;}
#wa-row-ko5s801w60vos8 {margin:0px 0px;}
#wa-row-ko5s801w60vos8>div {padding: 0px 0px;}
#wa-row-ko5sm38o4ymtu0 {margin:0px 0px;}
#wa-row-ko5sm38o4ymtu0>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-ko4rtqqd48ir34 {margin:0px 0px;}
#wa-row-ko4rtqqd48ir34>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48irz4 {margin:0px 0px;}
#wa-row-ko4rtqqd48irz4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48itb4 {margin:0px 0px;}
#wa-row-ko4rtqqd48itb4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48itls {margin:0px 0px;}
#wa-row-ko4rtqqd48itls>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48itr4 {margin:0px 0px;}
#wa-row-ko4rtqqd48itr4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48iun4 {margin:0px 0px;}
#wa-row-ko4rtqqd48iun4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48iv34 {margin:0px 0px;}
#wa-row-ko4rtqqd48iv34>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48iwkg {margin:0px 0px;}
#wa-row-ko4rtqqd48iwkg>div {padding: 0px 0px;}
#wa-row-ko5s801w60vos8 {margin:0px 0px;}
#wa-row-ko5s801w60vos8>div {padding: 0px 0px;}
#wa-row-ko5sm38o4ymtu0 {margin:0px 0px;}
#wa-row-ko5sm38o4ymtu0>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-ko4rtqqd48ir34 {margin:0px 0px;}
#wa-row-ko4rtqqd48ir34>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48irz4 {margin:0px 0px;}
#wa-row-ko4rtqqd48irz4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48itb4 {margin:0px 0px;}
#wa-row-ko4rtqqd48itb4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48itls {margin:0px 0px;}
#wa-row-ko4rtqqd48itls>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48itr4 {margin:0px 0px;}
#wa-row-ko4rtqqd48itr4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48iun4 {margin:0px 0px;}
#wa-row-ko4rtqqd48iun4>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48iv34 {margin:0px 0px;}
#wa-row-ko4rtqqd48iv34>div {padding: 0px 0px;}
#wa-row-ko4rtqqd48iwkg {margin:0px 0px;}
#wa-row-ko4rtqqd48iwkg>div {padding: 0px 0px;}
#wa-row-ko5s801w60vos8 {margin:0px 0px;}
#wa-row-ko5s801w60vos8>div {padding: 0px 0px;}
#wa-row-ko5sm38o4ymtu0 {margin:0px 0px;}
#wa-row-ko5sm38o4ymtu0>div {padding: 0px 0px;}
}
